<h1>About</h1> 
<p>
	<%= link_to "Miranda Learns Rails", "http://onemonthrails.com" %> is a project to teach <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> to lil Miranda in one 
	month. Don't worry! This is just the sample application. 

</p>

<p>
	So far so good. I had a couple problems, but I just asked my good ol buddy russell. legend has it he's been coding since the age of 3, when he taught himself while trapped in the confines of some england basement or garden. A lot like this cat you'll see in a second, escaping from a russian (i think) basement where he was trapped because they have too many cats in that country (I'm not condoning this, I think it's inhumane too).
</p>	
<p>
	I just made that part up, but who knows. I have absolutely no knowledge of any of this coding business, and I have some very basic html knowledge from managing my company's website content and writing our enewsletter, which used to be moveable type and was a pain in my butt.
</p>
<p>
	I just try to be adaptive and roll with the punches or codes, or whatever. so far, i know I'm not absorbing everything, but I hope to learn more as I go, and then run through the class one more time to create another app from scratch. I think practice makes perfect, and so perfect I will one day be, though right now even "diamond in the rough" would be an exaggeration.
</p>
<p>
	I live in San Francisco, was also raised here and stuff, and I am not a tech kind of person. AT ALL. I just got a smart phone a month ago because my phone died a sudden death in a ny subway. i was headed to grand central to get on a train upstate, and when I arrived I didn't know if anyone would be there to pick me up, since my phone died. There was no payphone in the station. I decided I would upgrade into the future: technology.

</p>

