<h1>About</h1> 
<p>
	<%= link_to "Miranda Learns Rails", "http://onemonthrails.com" %> is a project to teach <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> to lil Miranda in one 
	month. Don't worry! This is just the sample application. 
</p>

