<div class="hero-unit">
	<h1>Welcome to One Month Rails! Ow!</h1>
	<p>
		Congrats, Ladies! You've found the homely page for the 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		application.
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>

